body{
    background: url(bg-default.jpg) center;
    background-attachment: fixed;
    margin: 0;
}

.container{
    background: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    padding-top: 30px;
}

.row{
    width: 1000px;
    margin: 0 auto;
}

.col{
    width: 300px;
    display: inline-block;
    margin: 15px;
    box-shadow: none;
    filter: brightness(1);
    transition: 1s box-shadow ease 0s, 1s filter ease 0s;
}

.col:hover{
    box-shadow: 10px 10px 5px 5px rgba(14, 13, 13, 0.938);
    filter: brightness(1.5);
}

.preview img{
    width: 100%;
}

.bottom{
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    position: relative;
}

.avata{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.avata img{
    width: 100%;
}

.intro{
    position: absolute;
    top: 16px;
    left: 90px;
    color: white;
}

.channel_name {
    margin-bottom: 10px;
}